<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title><%=t1683;%></title>
	    <link rel="stylesheet" href="./../../css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="./../../css/bootstrap-datetimepicker.min.css">
	    <link rel="stylesheet" href="./../../css/commonPC.css">
	    <link rel="stylesheet" href="./../../css/definePC.css">
		 <!--[if lt IE 9]>
		   <script src="./../../js/html5shiv.min.js"></script>
		   <script src="./../../js/respond.min.js"></script>
		 <![endif]-->
		 <script src="./../../js/jquery-1.11.3.js"></script>
		 <script src="./../../js/bootstrap.js"></script>
		 <script src="./../../js/bootstrap-datetimepicker.js"></script>
		 <script src="./../../js/arttemplate.js"></script>
		 <script src="./../../js/child_define.js"></script>
</head>
<body>
	<div class="content marginT30">
		<div class="mainbox homebox">
			<div class="panel panel-default">
			  <div class="panel-heading clearfloat"><%=t1684;%></div>
			  <div class="panel-body tab-content">
			  	    <!-- <div role="tabpanel" class="tab-pane tablebox active" id="tablebox"> -->
			  	    	<div class="tablebox">
			  				<!-- 搜索框 -->
			  				<div class="formbox marginB30 marginT15">
			  					<form class="form-inline">
			  					  <div class="form-group">
			  				          	<div class="form-group marginL10">
			  				          	    <label for="s_date" class="control-label textright lineheight34 fn"><%=t1685;%>：</label>
			  				      	        <div class="input-group date s_date width200" data-date="" data-link-field="s_date">
			  				      	            <input class="form-control" size="16" type="text" value="" readonly placeholder="" name="start_time">
			  				      	            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			  				      	        </div>
			  				      			<input type="hidden" id="s_date" value=""/>
			  				          	</div>
			  				          	<div class="form-group">
			  				          	    <label for="e_date" class="control-label textright lineheight34 fn">－</label>
			  				      	        <div class="input-group date e_date width200" data-date="" data-link-field="e_date">
			  				      	            <input class="form-control" size="16" type="text" value="" readonly placeholder="" name="end_time">
			  				      	            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			  				      	        </div>
			  				      			<input type="hidden" id="e_date" value=""/>
			  				          	</div>
			  					  </div>
			  					  <a href="javascript:;" class="btn greenbtn marginL10" id="search_btn"><%=t1686;%></a>
			  				</form>
			  				</div>
			  				
			  			</div>
			  	    <!-- </div> -->
			  </div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading clearfloat">系统维护</div>
				<div class="panel-body">
					<!-- 搜索框 -->
					<div class="formbox marginB30 marginT15">
						<form class="form-inline">
						  <div class="form-group">
					          <label class="radio-inline">
					          	<input type="radio" name="syetem" value="0" id="radio_close"> 关
                              </label>
                              <label class="radio-inline">
                                 <input type="radio" name="syetem" value="1" id="radio_open"> 开 
                              </label>
						  </div>
						  <div class="form-group marginL10 hide" id="msgbox">
						  	<label class="fn">msg：</label>
						  	<input type="text" name="" class="form-control" id="msg_box" placeholder="打开开关请输入msg"> 
						  </div>
						  <a href="javascript:;" class="btn greenbtn marginL10" id="syetembtn">提交</a>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var namebox = {
		'alertTip':'<%=t1621;%>',
		'succ':'<%=t1687;%>',
		'fail':'<%=t1618;%>'
	}
</script>
<script type="text/javascript" src="./../../js/manage/backstage/special_use.js"></script>
</body>
</html>