<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title><%=t1005;%></title>
	    <link rel="stylesheet" href="./../../css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="./../../css/bootstrap-datetimepicker.min.css">
	    <link rel="stylesheet" href="./../../css/commonPC.css">
	    <link rel="stylesheet" href="./../../css/definePC.css">
		 <!--[if lt IE 9]>
		   <script src="./../../js/html5shiv.min.js"></script>
		   <script src="./../../js/respond.min.js"></script>
		 <![endif]-->
		 <script src="./../../js/jquery-1.11.3.js"></script>
		 <script src="./../../js/bootstrap.js"></script>
		 <script src="./../../js/bootstrap-datetimepicker.js"></script>
		 <script src="./../../js/arttemplate.js"></script>
		 <script src="./../../js/echarts.common.min.js"></script>
		 <script src="./../../js/child_define.js"></script>
</head>
<body>
	<div class="content marginT30">
		<div class="row marginB30">
			<div class="col-xs-2">
				<div class="data-showdata media">
					  <div class="media-left">
					  	<img src="./../../img/icon/total_profit.png" class="media-object">
					  </div>
					  <div class="media-body textright">
						   <p class="showdata-title"><%=t1642;%></p>
						   <p class="showdata-num corange" id="profitTotal"></p>
					  </div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="data-showdata media">
					  <div class="media-left">
					  	<img src="./../../img/icon/total_cash.png" class="media-object">
					  </div>
					  <div class="media-body textright">
						   <p class="showdata-title"><%=t1643;%></p>
						   <p class="showdata-num cgreen" id="cashTotal"></p>
					  </div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="data-showdata media">
					  <div class="media-left">
					  	<img src="./../../img/icon/topup2.png" class="media-object">
					  </div>
					  <div class="media-body textright">
						   <p class="showdata-title"><%=t1644;%></p>
						   <p class="showdata-num corange" id="rechargeTotal"></p>
					  </div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="data-showdata media">
					  <div class="media-left">
					  	<img src="./../../img/icon/h_profit.png" class="media-object">
					  </div>
					  <div class="media-body textright">
						   <p class="showdata-title"><%=t1645;%></p>
						   <p class="showdata-num cgreen" id="profitHistory"></p>
					  </div>
				</div>
			</div>
		</div>
		<div class="mainbox homebox">
			<div class="panel panel-default">
			  <div class="panel-heading"><%=t1240;%></div>
			  <div class="panel-body tab-content">
			  	    <div role="tabpanel" class="tab-pane tablebox active" id="tablebox">
			  	    	<!-- 搜索框 -->
			  	    	<div class="formbox marginB30 marginT15">
			  	    		<form class="form-inline">
			  	    		  <div class="form-group">
			  	    	          	<div class="form-group marginL10">
			  	    	          	    <label for="s_date" class="control-label textright lineheight34 fn"><%=t1647;%>：</label>
			  	    	      	        <div class="input-group date s_date width200" data-date="" data-link-field="s_date">
			  	    	      	            <input class="form-control" size="16" type="text" value="" readonly placeholder="" name="start_time">
			  	    	      	            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			  	    	      	        </div>
			  	    	      			<input type="hidden" id="s_date" value=""/>
			  	    	          	</div>
			  	    	          	<div class="form-group">
			  	    	          	    <label for="e_date" class="control-label textright lineheight34 fn">－</label>
			  	    	      	        <div class="input-group date e_date width200" data-date="" data-link-field="e_date">
			  	    	      	            <input class="form-control" size="16" type="text" value="" readonly placeholder="" name="end_time">
			  	    	      	            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			  	    	      	        </div>
			  	    	      			<input type="hidden" id="e_date" value=""/>
			  	    	          	</div>
			  	    		  </div>
			  	    		  <a href="javascript:;" class="btn greenbtn marginL10" id="search_btn"><%=t1555;%></a>
			  	    		</form>
			  	    	</div>
			  	    	<div class="tablebox">
			  				<table class="table table-bordered table-striped">
			  				  <thead class="bgf5">
			  				  	<tr>
	<!-- 		  				  		<th>日期</th>
			  				  		<th>活跃用户</th>
			  				  		<th>新增用户</th>
			  				  		<th>付费新玩家</th>
			  				  		<th>充值次数</th>
			  				  		<th>充值人数</th>
			  				  		<th>总充值</th>
			  				  		<th>总提现</th>
			  				  		<th>付费率</th>
			  				  		<th>ARPPU</th>
			  				  		<th>ARPU</th> -->
			  				  		<th><%=t1646;%></th>
			  				  		<th><%=t1137;%></th>
			  				  		<th><%=t1138;%></th>
			  				  		<th><%=t1281;%></th>
			  				  		<th><%=t1282;%></th>
			  				  		<th><%=t1283;%></th>
			  				  		<th><%=t1284;%></th>
			  				  		<th><%=t1285;%></th>
			  				  		<th><%=t1286;%></th>
			  				  		<th>ARPPU</th>
			  				  		<th>ARPU</th>
			  				  	</tr>
			  				  </thead>
			  				  <tbody id="pay_body">
			  				  </tbody>
			  				</table>
			  				<script type="text/html" id="pay_data">
			  				    {{each chart as val}}
			  				    	<tr>
				  				  		<td>{{val.time}}</td>
				  				  		<td>{{val.activeAccount}}</td>
				  				  		<td>{{val.newAccount}}</td>
				  				  		<td>{{val.newPayer}}</td>
				  				  		<td>{{val.topupTime}}</td>
				  				  		<td>{{val.topupPeople}}</td>
				  				  		<td>{{val.topupSum}}</td>
				  				  		<td>{{val.cashSum}}</td>
				  				  		<td>{{val.payRate}}</td>
				  				  		<td>{{val.ARPPU}}</td>
				  				  		<td>{{val.ARPU}}</td>
				  				  	</tr>
			  				    {{/each}}
			  				 </script>
			  			</div>
			  	    </div>
			  	    <div role="tabpanel" class="tab-pane tablebox" id="tubox">
			  	    	
			  	    	<div id="goods_source" style="width:1000px;height:500px;"></div>
			  	    </div>
			  </div>
			  <div class="panel-footer ">
			  	<ul class="nav clearfloat">
			  		<li role="presentation" class="active fl"><a href="#tablebox" aria-controls="tablebox" role="tab" data-toggle="tab"><span class="iconfont ft25">&#xe66d;</span></a></li>
			  		<li role="presentation" class="fl"><a href="#tubox" aria-controls="tubox" role="tab" data-toggle="tab"><span class="iconfont ft25">&#xe6a3;</span></a></li>
			  	</ul>
			  </div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var namebox = {
		'chart':['<%=t1079;%>','<%=t1080;%>','<%=t1081;%>','<%=t1082;%>','<%=t1083;%>','<%=t1084;%>','<%=t1085;%>','<%=t1086;%>','ARPPU','ARPU'],
		'peopleNum':'<%=t1640;%>',
		'percent':'<%=t1641;%>' ,
		'alertTip':'<%=t1621;%>'
	}
</script>
<script type="text/javascript" src="./../../js/manage/count/pay_data.js"></script>
</body>
</html>